/* ===========================
   Button
   =========================== */

.btn {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  gap: 8px;
  padding: clamp(10px, 2vw, 15px) clamp(18px, 3vw, 36px) clamp(10px, 2vw, 17px);
  border: none;
  font-size: var(--secondary-font-size);
  line-height: 1.2;
  font-weight: 600;
  border-radius: 50px;
  text-align: center;
  text-decoration: none;
  color: var(--white-color);
  background: var(--btn-color);
  text-transform: uppercase;
}

.btn:hover {
  background: var(--btn-color-hover);
}

.btn:active {
  background: var(--btn-color-active);
}

.btn:disabled {
  background: var(--btn-color-disabled);
}

.btn svg,
.icon {
  width: clamp(16px, 2vw, 24px);
  height: clamp(16px, 2vw, 24px);
  flex: 0 0 clamp(16px, 2vw, 24px);
}

/* ===========================
   Card
   =========================== */

.card {
  padding: clamp(20px, 3vw, 40px) clamp(16px, 3vw, 48px);
  border-radius: var(--primary-border-radius);
  background: var(--white-color);
  box-shadow: var(--primary-box-shadow);
  font-size: var(--secondary-font-size);
}

.card__cols {
  display: flex;
  gap: var(--secondary-gap);
}

.card__img {
  position: relative;
  border-radius: var(--secondary-border-radius);
  overflow: hidden;
  flex: 0 0 31.75%;
}

.card__img img {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.card__params {
  display: flex;
  flex-direction: column;
  gap: var(--small-gap);
  flex: 1;
}

.card__param {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 1rem;
  padding: var(--primary-padding);
  color: var(--gray-color);
  background: var(--gray-bg-color);
  border-radius: var(--secondary-border-radius);
}

.card__param-value {
  font-weight: bold;
  white-space: nowrap;
}

.card__contacts {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  gap: clamp(10px, 3vw, 20px);
  flex: 0 0 25.65%;
}

.card__phones {
  display: flex;
  flex-direction: column;
  gap: var(--small-gap);
}

.card__place {
  padding: var(--primary-padding);
  border-radius: var(--secondary-border-radius);
  background: var(--secondary-bg-color);
}

.card__place-title {
  display: flex;
  align-items: center;
  gap: 4px;
  margin-bottom: var(--small-gap);
  color: var(--gray-color);
}

.card__id {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 4px;
  padding: var(--primary-padding);
  border: var(--primary-border);
  border-radius: 50px;
  text-align: center;
  color: var(--accent-color);
}

.card__id-title {
  padding-bottom: 1px;
  font-size: var(--small-font-size);
  line-height: 0.9;
}

.card__id-link {
  font-size: clamp(12px, 2vw, 16px);
  text-underline-offset: 3px;
  color: var(--accent-color);
}

.card__info {
  margin-top: var(--secondary-gap);
}

/* ===========================
   Pagination
   =========================== */

.pagination {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: clamp(9px, 2vw, 18px);
  margin-top: clamp(30px, 4vw, 60px);
  font-weight: bold;
}

.pagination__item {
  display: flex;
  align-items: center;
  min-width: clamp(32px, 3vw, 52px);
  height: clamp(32px, 3vw, 52px);
  padding: 5px;
  border: var(--primary-border);
  justify-content: center;
  line-height: 1;
  text-decoration: none;
  color: var(--accent-color);
  border-radius: 6px;
  text-align: center;
  background: var(--primary-bg-color);
}

.pagination__item:hover {
  background: var(--white-color);
}

.pagination__item--current {
  color: var(--white-color);
  background: var(--accent-color);
  pointer-events: none;
}

.pagination__item--prev .icon {
  transform: translateX(-2px) scaleX(-1);
}

.pagination__item--next .icon {
  transform: translateX(2px) scaleX(1);
}

/* ===========================
   Tabs
   =========================== */

.tabs__btns {
  display: inline-flex;
  align-items: center;
  white-space: nowrap;
}

.tabs__btn {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  padding: 20px 52px;
  position: relative;
  text-align: center;
  color: var(--primary-color);
  font-size: clamp(16px, 2vw, 32px);
  border-radius: var(--primary-border-radius) var(--primary-border-radius) 0 0;
  transition: none;
}

.tabs__btn--active {
  background: var(--white-color);
  box-shadow: var(--primary-box-shadow);
}

.tabs__btn--active:after {
  content: '';
  position: absolute;
  top: 100%;
  left: 0;
  right: -10px;
  height: 20px;
  background: var(--white-color);
  pointer-events: none;
}

.tabs__btn--active:not(:first-child):after {
  left: -10px;
}

.tabs__panels {
  padding: var(--secondary-padding) var(--large-padding) var(--large-padding);
  border-radius: var(--primary-border-radius);
  background: var(--white-color);
  box-shadow: var(--primary-box-shadow);
}

.tabs__panel {
  display: none;
  margin-top: -2px;
  padding-left: 3px;
  padding-right: 5px;
}

.tabs__panel--active {
  display: block;
}

.tabs__panel h2 {
  margin-bottom: var(--primary-gap);
}

.tabs__panel h5 {
  margin-bottom: var(--secondary-gap);
}

.tabs__panel ul {
  padding-top: 1px;
}

.tabs__panel li:not(:last-child) {
  margin-bottom: clamp(10px, 3vw, 16px);
  padding-bottom: 0;
}

.tabs__panel ol li:not(:last-child) {
  margin-bottom: var(--middle-gap);
  padding-bottom: 0;
}

/* ===========================
   To top button
   =========================== */

.to-top {
  display: flex;
  align-items: center;
  justify-content: center;
  position: fixed;
  bottom: 35px;
  right: 73px;
  width: 44px;
  height: 44px;
  border: var(--primary-border);
  color: var(--accent-color);
  border-radius: 8px;
  background: var(--white-color);
  z-index: 100;
  opacity: 0.6;
}

.to-top svg {
  width: 14px;
  height: 26px;
}

.to-top:hover {
  opacity: 1;
}

.to-top--hidden {
  opacity: 0;
  visibility: hidden;
  pointer-events: none;
}

/* ===========================
   Media Queries | Responsive
   =========================== */

@media (max-width: 1499px) {
  .to-top {
    right: var(--primary-gap);
    bottom: var(--primary-gap);
  }
}

@media (max-width: 1023px) {
  .card__cols {
    flex-wrap: wrap;
  }
  .card__img {
    order: 1;
    flex: 1;
  }
  .card__contacts {
    order: 2;
    flex: 1;
  }
  .card__params {
    order: 3;
    flex: 0 0 100%;
    max-width: 100%;
  }
}

@media (max-width: 767px) {
  .tabs__btn {
    padding: 16px 20px;
  }
}

@media (max-width: 639px) {
  .card__img {
    padding-bottom: 79%;
  }
  .card__img,
  .card__contacts {
    flex: 0 0 100%;
    max-width: 100%;
  }
}
